#orderlist{}
#orderlist{
    .search{width:40%;margin-bottom: 0.1rem;}
    .pagination{float: right;padding: 0.1rem;}
    .order-detail {font-size:0.1rem;}
    .order-detail li{padding: 0.1rem;list-style-type:none;border-bottom: 1px dashed #ccc;}
}