#error404{display: flex;flex-direction: column;justify-content: center;width:100%;text-align: center;align-items: center;min-height: 100vh;background-color: #ffffff;}
#error404{
    .img{width:2rem;height: 2rem;}
    .title{font-size:0.15rem;color:#ffffff;}
    .btn{margin-top: 0.25rem;}
}
